/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    padding: 0;
}

/* shared styles */
.displa-flex{
    display: flex;
}
/* header style */
#navbar{
    justify-content: space-around;
    align-items: center;
}
.brand{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

.menu-item{
    list-style: none;
    margin-left: 30px;
}
.item-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
/* banner style */
#banner{
    margin: 50px auto;
    justify-content: space-around;
}

.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.3rem;
    color: #3A3A3A;
}
.banner-description{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
.banner-btn{
    padding: 10px 24px;
    border-radius: 41px;
    background-color: #E02C6D;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;

}
.banner-image{
    width: 25rem;
    height: 25rem;
    border: 3px solid #F1E4FF;
    border-radius: 50%;
    position: relative;
}
.banner-image .background{
    width: 75%;
    height: 75%;
    background-color: #F1E4FF;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: -1;
    
}
.banner-image img{
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    
}

/* Responsive Design */

@media screen and (max-width: 576px){
    #navbar, .menu-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* banner style */
    #banner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-left{
        text-align: center;
    }
}

@media screen and (max-width: 992px){
    #navbar, .menu-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* banner style */
    #banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner-left{
        text-align: center;
    }
}
